<div class="container">
    <button class="close" mat-raised-button color="warn" (click)="closeForm()">X</button>
    <div class="img">
      <img src="/assets/express%20home.png" width="400" height="300"/>
    </div>
    <div class="info">
      <h2>Express-Cart</h2>
      <hr>
      <p>This project will help multilevel product companies for storing and maintaining information of their products. Express-Cart, commonly known as E-commerce. Customers are attracted to online shopping not only because of high levels of convenience, but also because of broader selections, competitive pricing, and greater access to information. Business organizations seek to offer online shopping not only because it is of much lower cost, but also because it offers access to a worldwide market, increases customer value, and builds sustainable capabilities. Online shopping is very useful for the customer. They can purchase in their home or somewhere else from their location.</p>
    <h3>
        Type: Web Application
    </h3>
    <h3>
        Technology Stack: PHP, MySQL, HTML, CSS, JAVASCRIPT, WebAPi, Bootstrap
    </h3>
    <h3>
        Platform: Visual Studio Code
    </h3>
    <h3>
        Live URL: <a href="https://github.com/nandan15/Express-Cart">https://github.com/nandan15/Express-Cart</a>
      </h3>
      
    </div>
  </div>
  