<div class="main loaded">
  <!-- Header Section -->
  <div class="parent">
    <nav class="nav1">HAY! I'M NANDAN KUMAR N</nav>
    <h1 [innerHTML]="typedText">
      <span class="typed-text"></span>
    </h1>
    <!-- Bind the innerHTML for dynamic rendering -->
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </h3>
  </div>

  <!-- Button and Icons Section -->
  <div class="button-container">
    <a href="/assets/Nandan%20Kumar%20N_Resume.pdf" download="NandanKumarN_Resume.pdf">
      <button>Download Resume<mat-icon>get_app</mat-icon></button>
    </a>
  </div>
  <div class="root">
    <div class="icon">
      <a href="https://www.linkedin.com/in/nandan-kumar-6a12081a0/"><img src="../../../../../assets/icons8-linkedin-40.png"></a>
    </div>
    <div class="icon1">
      <a href="https://github.com/nandan15"><img src="../../../../../assets/icons8-github-40.png"></a>
    </div>
    <div class="icon2">
      <a href="mailto: 15nandhankumar@gmail.com">
        <i class="fa fa-envelope" style="font-size:40px"></i>
      </a>
    </div>
  </div>
</div>
