.parent {
    width: 23rem;
    min-width: 23rem; /* Ensure minimum width */
    height: 200px;
    background: transparent;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-left: 25px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: width 0.5s ease;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Align child and additional content at the ends */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* horizontally center the container */
    align-items: center; /* vertically center the container */
}

.child {
    background-color: rgba(30, 143, 255, 0.479);
    width: 300px;
    min-width: 300px;
    height: 150px;
    border-radius: 5px;
    padding: 10px;
    position: relative; 
    text-align: center;
}

.work{
    display: flex;
    margin-left: 1%;
    box-shadow: 0 0 10px black;
    width: fit-content;
    border-radius: 5px;
    background-color: cadetblue;
    padding:10px;
    font-family: monospace;
    font-size: 25px;
    color: rgb(4, 103, 184);
}

.child::after {
    content: '';
    position: absolute;
    top: -25px; 
    bottom: -25px; 
    right: -8px; 
    width: 2px; 
    background-color: black; 
}

.view {
    margin: auto;
}

.expanded {
    width: calc(23rem + 80%);
    padding: 20px;
}

.additional-content {
    background: #ffffff56;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    height: 100%;
    padding: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    text-align: justify;
    margin-right: 20px;
    margin-bottom: 20px;
}
.container {
    display: flex;
    justify-content: center; /* horizontally center the container */
    align-items: center; /* vertically center the container */
    height: 100vh; /* full height of the viewport */
}
