<div class="container">

    <h2 class="work"><mat-icon style="margin-top: .5%;font-size: 25px;">work</mat-icon>MY WORK EXPERIENCE</h2>
    <div class="parent" [class.expanded]="isExpanded">
        <div class="child">
            <h2>Software Development Engineer Intern</h2>
            <h2 style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;"><mat-icon style="margin-top: .5%;">business</mat-icon>LIKHITECH PVT LTD</h2>
            <h3>On-Site|Bangalore<br>November 2023 - Present</h3>
        </div>
        <button class="view" mat-button (click)="expandParent()">
          <mat-icon>fast_forward</mat-icon>
        </button>
        <div *ngIf="isExpanded" class="additional-content"> 
            <p>During my tenure as a Software Development Engineer Intern, I've actively contributed to SaaS-based
                projects, bringing three live projects to fruition. My role involved utilizing a robust tech stack, employing
                Angular 16 for frontend development and .NET Core for backend infrastructure, including WebApi and MS
                SQL. Additionally, I honed my skills in backend development using PHP Laravel framework and integrated
                database management with SQL Server, leveraging Entity Framework 6 for efficient data handling. Through
                these experiences, I've gained valuable insights into full-stack development methodologies and strengthened
                my proficiency across diverse technologies.</p>
                <p style="display: flex;flex-direction: row;justify-content: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 20px;font-weight:400;color: rgb(22, 23, 23);">Technology Stack: Angular 16, .netCore, .netCore MVC, WebApi, MSSQL, MYSQL, PHP Laravel, TypeScript.</p>
        </div>
    </div>
</div>
