<div class="container">
    <button class="close" mat-raised-button color="warn" (click)="closeForm()">X</button>
    <div class="img">
      <img src="/assets/movie%20banner.png" width="400" height="300"/>
    </div>
    <div class="info">
      <h2>Movie Recommendation System</h2>
      <hr>
      <p>Movie recommendation using Python is an application of machine learning and data analysis techniques to
        suggest movies to users based on their previous movie preferences. The goal is to create a personalized movie
        recommendation system that can predict which movies a user is most likely to enjoy. To build a movie
        recommendation system in Python, we need a dataset of movies and their attributes, as well as user ratings
        and preferences. We can use a variety of data sources, such as IMDb, Netflix, or Kaggle datasets, to obtain
        the necessary data.
        .</p>
    <h3>
        Type: Data Analytics Using  Python
    </h3>
    <h3>
        Technology Stack: Python, Data Analysis
    </h3>
    <h3>
        Platform: Anaconda 
    </h3>
    <h3>
        Live URL: <a href="https://github.com/nandan15/Movie-Recommendation.git">https://github.com/nandan15/Movie-Recommendation.git</a>
      </h3>
      
    </div>
  </div>
  