<div class="header">
    <div class="header__logo">
      <strong>NANDAN KUMAR N</strong>
    </div>
    <nav class="navbar">
      <ul class="navbar__menu">
        <li class="navbar__item">
          <a href="#" class="navbar__link" routerLink="/home/"><i data-feather="home"></i><span>Home</span></a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link" routerLink="/project/view"><i data-feather="message-square"></i><span>Project</span></a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link"><i data-feather="users"></i><span>Contact</span></a>
        </li>
        <li class="navbar__item">
          <a href="#" class="navbar__link"><i data-feather="folder"></i><span>Works</span></a>
        </li>
       
      </ul>
    </nav>
  </div>